/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$color-black: black;
$color-orange: #ee863a;
$color-white: white;
$color-lighgray: #f4f4f4;
$font-standard: "Open Sans", sans-serif;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
body {
  font-family: $font-standard;
}
body::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  font-family: $font-standard;
  border-bottom: solid;
  border-width: 1rem;
  border-color: $color-orange;
}
.c-video {
  margin-top: 3rem;
  margin-left: -135px;
  max-width: fit-content;
}
.c-video-beeld {
  min-width: 16px;
  min-height: 9px;
  @media (min-width: 577px) {
    height: 140px;
    width: 250px;
    margin-left: -90px;
  }
  @media (min-width: 769px) {
    height: 185px;
    width: 330px;
    margin-top: 100px;
    margin-left: 65px;
  }
  @media (min-width: 993px) {
    height: 300px;
    width: 535px;
    margin-left: 170px;
  }
  @media (min-width: 1201px) {
    height: 416px;
    width: 740px;
    margin-left: 115px;
  }
  @media (min-width: 1400px) {
    height: 513px;
    width: 912px;
    margin-left: 65px;
  }
  @media (min-width: 1600px) {
    margin-left: 45px;
  }
}
.c-text {
  margin-top: 250px;
  font-size: 0.8rem;
  background: $color-lighgray;
  width: 268px;
  padding: 1rem;
  padding-right: 2rem;
  box-shadow: -16px 16px $color-orange;
}
.c-text__2 {
  font-size: 0.8rem;
  background: $color-lighgray;
  width: 516px;
  padding: 1rem;
  padding-left: 5rem;
  box-shadow: -16px 16px $color-orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.c-niewsbrief {
  background-color: $color-orange;
  color: $color-white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.c-container {
  margin-left: 150px;
  @media (max-width: 578px) {
    margin-left: 0px;
  }
  &__2 {
    margin-left: 300px;
    margin-top: 1rem;
    @media (max-width: 770px) {
      margin-left: 0px;
    }
  }
}
.c-foto {
  @media (min-width: 577px) {
    margin-top: 180px;
    margin-left: -40px;
    width: 280px;
  }
  @media (min-width: 769px) {
    margin-top: 120px;
  }
  @media (min-width: 993px) {
    margin-left: -200px;
    margin-top: 0px;
    width: 362px;
  }
  @media (min-width: 1201px) {
    margin-left: -140px;
  }
  @media (min-width: 1400px) {
    margin-left: -80px;
  }
  @media (min-width: 1600px) {
    margin-left: 0px;
  }
}
.c-box__3 {
  position: relative;
  z-index: 1;
  margin-left: -116px;
}
.c-box__4 {
  position: relative;
  z-index: 2;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.c-footer__bottom {
  background-color: #44c8f5 !important;
  margin: 0;
}
.c-footer-nav {
  list-style: none;
}
/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.navbar-toggler {
  filter: invert(100%);
}
.nav-link {
  color: $color-black !important;
  &:hover {
    color: $color-orange !important ;
  }
}

.carousel-indicators .active {
  background-color: $color-orange;
}
.carousel {
  border-bottom: solid;
  border-width: 1rem;
  border-color: $color-orange;
}
.accordion {
  position: relative;
  left: 582px;
  max-width: fit-content;
  @media (min-width: 577px) {
    left: -80px;
  }
  @media (min-width: 769px) {
    left: 20px;
  }
  @media (min-width: 993px) {
    left: 330px;
  }
  @media (min-width: 1201px) {
    left: 482px;
  }
  @media (min-width: 1400px) {
    left: 602px;
  }
  @media (min-width: 1600px) {
    left: 582px;
  }

  &__2 {
    position: relative;
    left: 514px;
    max-width: fit-content;
    @media (min-width: 577px) {
      left: 278px;
    }
    @media (min-width: 769px) {
      left: 278px;
    }
    @media (min-width: 993px) {
      left: 278px;
    }
    @media (min-width: 1201px) {
      left: 412px;
    }
    @media (min-width: 1400px) {
      left: 514px;
    }
    @media (min-width: 1600px) {
      left: 514px;
    }
  }
}
.accordion-item {
  margin-top: 1rem;
  font-family: $font-standard;
  font-size: 1rem;
  width: 15rem;
  color: $color-orange;
}
.accordion-body {
  border: solid;
  border-width: 1px;
  border-color: $color-orange;
}
.accordion-button {
  color: $color-orange;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: $color-orange;
  &::after {
    filter: invert(65%) sepia(100%) saturate(2086%) hue-rotate(337deg) brightness(100%) contrast(88%);
  }
}
.accordion-button:focus {
  color: $color-orange;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: $color-orange;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: $color-orange;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
