/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$color-black: black;
$color-orange: #ee863a;
$color-white: white;
$color-lighgray: #f4f4f4;
$font-standard: "Open Sans", sans-serif;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
body {
  font-family: $font-standard;
}
body::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  font-family: $font-standard;
  border-bottom: solid;
  border-width: 1rem;
  border-color: $color-orange;
}
.c-video {
  margin-top: 3rem;
  margin-left: -8.4375rem;
  max-width: fit-content;
}
.c-video-beeld {
  min-width: 1rem;
  min-height: 0.5625rem;
  @media (max-width: 576px) {
    height: 8.75rem;
    width: 15.625rem;
    margin-left: -5.625rem;
  }
  @media (min-width: 577px) {
    height: 8.75rem;
    width: 15.625rem;
    margin-left: -5.625rem;
  }
  @media (min-width: 769px) {
    height: 11.5625rem;
    width: 20.625rem;
    margin-top: 6.25rem;
    margin-left: 4.0625rem;
  }
  @media (min-width: 993px) {
    height: 18.75rem;
    width: 33.4375rem;
    margin-left: 10.625rem;
  }
  @media (min-width: 1201px) {
    height: 26rem;
    width: 46.25rem;
    margin-left: 7.1875rem;
  }
  @media (min-width: 1400px) {
    height: 32.0625rem;
    width: 57rem;
    margin-left: 4.0625rem;
  }
  @media (min-width: 1600px) {
    margin-left: 2.8125rem;
  }
}
.c-text {
  margin-top: 15.625rem;
  font-size: 0.8rem;
  background: $color-lighgray;
  width: 16.75rem;
  padding: 1rem;
  padding-right: 2rem;
  box-shadow: -1rem 1rem $color-orange;
}
.c-text__2 {
  font-size: 0.8rem;
  background: $color-lighgray;
  width: 32.25rem;
  padding: 1rem;
  padding-left: 5rem;
  box-shadow: -1rem 1rem $color-orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.c-niewsbrief {
  background-color: $color-orange;
  color: $color-white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.c-container {
  margin-left: 9.375rem;
  @media (max-width: 576px) {
    margin-left: 0rem;
  }
  @media (max-width: 578px) {
    margin-left: 0rem;
  }
  &__2 {
    margin-left: 18.75rem;
    margin-top: 1rem;
    @media (max-width: 770px) {
      margin-left: 0rem;
    }
  }
}
.c-foto {
  @media (max-width: 576px) {
    margin-top: 11.25rem;
    margin-left: -2.5rem;
    width: 17.5rem;
  }
  @media (min-width: 577px) {
    margin-top: 11.25rem;
    margin-left: -2.5rem;
    width: 17.5rem;
  }
  @media (min-width: 769px) {
    margin-top: 7.5rem;
  }
  @media (min-width: 993px) {
    margin-left: -12.5rem;
    margin-top: 0rem;
    width: 22.625rem;
  }
  @media (min-width: 1201px) {
    margin-left: -8.75rem;
  }
  @media (min-width: 1400px) {
    margin-left: -5rem;
  }
  @media (min-width: 1600px) {
    margin-left: 0rem;
  }
}
.c-box__3 {
  position: relative;
  z-index: 1;
  margin-left: -7.25rem;
}
.c-box__4 {
  position: relative;
  z-index: 2;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.c-footer__bottom {
  background-color: #44c8f5 !important;
  margin: 0;
}
.c-footer-nav {
  list-style: none;
}
/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.navbar-toggler {
  filter: invert(100%);
}
.nav-link {
  color: $color-black !important;
  &:hover {
    color: $color-orange !important ;
  }
}

.carousel-indicators .active {
  background-color: $color-orange;
}
.carousel {
  border-bottom: solid;
  border-width: 1rem;
  border-color: $color-orange;
}
.accordion {
  position: relative;
  left: 36.375rem;
  max-width: fit-content;
  @media (max-width: 576px) {
    left: -5rem;
  }
  @media (min-width: 577px) {
    left: -5rem;
  }
  @media (min-width: 769px) {
    left: 1.25rem;
  }
  @media (min-width: 993px) {
    left: 20.625rem;
  }
  @media (min-width: 1201px) {
    left: 30.125rem;
  }
  @media (min-width: 1400px) {
    left: 37.625rem;
  }
  @media (min-width: 1600px) {
    left: 36.375rem;
  }

  &__2 {
    position: relative;
    left: 32.125rem;
    max-width: fit-content;
    @media (max-width: 576px) {
      left: 17.375rem;
    }
    @media (min-width: 577px) {
      left: 17.375rem;
    }
    @media (min-width: 769px) {
      left: 17.375rem;
    }
    @media (min-width: 993px) {
      left: 17.375rem;
    }
    @media (min-width: 1201px) {
      left: 25.75rem;
    }
    @media (min-width: 1400px) {
      left: 32.125rem;
    }
    @media (min-width: 1600px) {
      left: 32.125rem;
    }
  }
}
.accordion-item {
  margin-top: 1rem;
  font-family: $font-standard;
  font-size: 1rem;
  width: 15rem;
  color: $color-orange;
}
.accordion-body {
  border: solid;
  border-width: 0.0625rem;
  border-color: $color-orange;
}
.accordion-button {
  color: $color-orange;
  background: none;
  border: solid;
  border-width: 0.0625rem;
  border-color: $color-orange;
  &::after {
    filter: invert(65%) sepia(100%) saturate(2086%) hue-rotate(337deg) brightness(100%) contrast(88%);
  }
}
.accordion-button:focus {
  color: $color-orange;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: $color-orange;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: $color-orange;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
